{% extends '_options.html' %}
{% load leaflet_tags %}
{% block head_extras %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head_extras %}
{% block content %}
    {% leaflet_map "map" callback="window.map_init_basic" %}

{% endblock content %}
{% block script %}
    <script type="text/javascript">
        window.addEventListener("map:init", function (e) {
            const detail = e.detail;
            const map = e.detail.map;
            const addSiteButton = document.getElementById('addSiteButton');
            const nameField = document.getElementById('siteNameField');
            const latField = document.getElementById('latitudeField');
            const lngField = document.getElementById('longitudeField');

            const markers = new Array();

            detail.map.on('click', function (event) {

                {# Populate the Latitude and longitude input fields #}

                populateLatLng(event.latlng);


                function addSite(latitude, longitude, name='') {

                    let marker = new L.marker([latitude, longitude]);
                    marker.addTo(map)
                    marker.bindPopup(`<p>Site:${name}<p><p>Latitude ${latitude}</p><p>Longitude ${longitude}</p>`).openPopup()

                    markers.push(marker)
                    console.log(markers)
                }

                function triggerFocus(element) {
                    let eventType = "onfocus" in element ? "focusin" : "focus",
                        bubbles = "onfocus" in element,
                        event;

                    if ("createEvent" in document) {
                        event = document.createEvent("Event");
                        event.initEvent(eventType, bubbles, true);
                    } else if ("Event" in window) {
                        event = new Event(eventType, {bubbles: bubbles, cancelable: true});
                    }

                    element.focus();
                    element.dispatchEvent(event);
                }

                function populateLatLng(latlng) {

                    setTimeout(() => {triggerFocus(latField)}, 0)
                    setTimeout(() => {triggerFocus(lngField)}, 0)

                    latField.value = latlng.lat;
                    lngField.value = latlng.lng;
                }

                
                addSiteButton.onclick = () => {
                    const latitude = latField.value;
                    const longitude = lngField.value;
                    const name = nameField.value;
                    latField.value = lngField.value = nameField.value =  ''
                    addSite(latitude, longitude, name);
                }


            })

        }, false);


    </script>
{% endblock script %}